AWS_REGION=us-east-1
S3_BUCKET_NAME=tech-challenge-notification-templates

MAILTRAP_TOKEN=your-mailtrap-api-token
MAILTRAP_URL=https://send.api.mailtrap.io/api
MAILTRAP_FROM_EMAIL=contato@nohats.net.br
MAILTRAP_FROM_NAME=Nohats

JWT_SECRET=change-me-in-production
